header {
    border-bottom: 1px solid #ccc;
    background-image: url(background.jpeg);
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .navbar-nav .nav-link {
    font-size: 1.2rem;
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler-icon {
    background-color: #333;
    height: 2px;
    width: 20px;
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler:hover {
    outline: none;
  }
  
  .navbar-nav .nav-item.active .nav-link {
    color: #333;
    font-weight: bold;
  }
  
  @media only screen and (max-width: 768px) {
    .navbar-nav {
      background-color: #78bfc7;
      padding: 10px;
      position: absolute;
      top: 50px;
      right: 0;
      left: 0;
      z-index: 999;
      border-bottom: 1px solid #78bfc7;
    }
  
    .navbar-nav .nav-item {
      border-bottom: 1px solid #78bfc7;
      margin-bottom: 10px;
    }
  
    .navbar-nav .nav-link {
      color: #333;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }

/* BELOW IS ACCORDION CHANGES */

.accordion-item{
    background-color: gray;
}
.accordion-button{
    background-image: url(background.jpeg);
    border: #333 20px;
}